<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="no-select toolbar" routerLink="">
      <mat-icon style="margin: 5px">home</mat-icon>
      <span>Store</span>
    </div>

    <span class="example-spacer"></span>

    <div class="no-select toolbar">
      <button class="toolbar button" mat-flat-button routerLink="">Main</button>

      <button class="toolbar button" mat-flat-button routerLink="products">
        Products
      </button>

      <button class="toolbar button" mat-flat-button routerLink="basket">
        Basket
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
