/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

